!!!
%html
  %head
    %title= settings.title
    %link{:href => "/css/screen.css", :media => "screen", :type => "text/css", :rel => "stylesheet"}
    %script{:type => "text/javascript", :src => "/js/jquery-1.9.0.min.js"}
    %script{:type => "text/javascript", :src => "/js/app.js"}
  %body
    #wrapper
      #title= settings.title
      = yield
      / Made with Doofer: https://github.com/alisdair/doofer